@import url('https://fonts.googleapis.com/css?family=Roboto:wght@100..900');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overscroll-behavior-y: none;
}

html {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #182B2B,#2B2B2B);
}

div::-webkit-scrollbar {
    display: none;
}